* {
    margin: 0;
    padding: 0;
}

.login-form {
    border-radius: 10px;
    border: 3px solid #000;
}

.form-wrapper {
    margin: 0 auto;
    padding: 10px;
    min-width: 300px;
    width: 30vw;
    max-width: 500px;
}

.error-msg {
    color: #ff0000;
}
